<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<ul class="nav navbar-nav">
		  <li><a href="index.php">Produtos</a></li>
		  <li class="active"><a href="#">Cadastro</a></li>
		</ul>
		</div>
</nav>
		
		 <div class="col-md-3 margin-top-3">
		            <form name="registration" action="./views/respostaCadastro.php" method="POST" onsubmit="validarCampos();">

		                <label class="control-label  margin-top-2 margin-bottom-2">Primeiro Nome: </label>
		                <input type="text" name="firstName" placeholder="João" class="form-control">

		                <label class="control-label  margin-top-2 margin-bottom-2">Sobrenome: </label>
		                <input type="text" name="lastName" placeholder="Silva" class="form-control">

		                <label class="control-label  margin-top-2 margin-bottom-2">Endereço: </label>
		                <input type="text" name="address" placeholder="Rua Natal, 77" class="form-control">

		                <label class="control-label  margin-top-2 margin-bottom-2">Email: </label>
		                <input type="email" name="email" placeholder="example@example.com" class="form-control">

		                <label class="control-label  margin-top-2 margin-bottom-2">CPF: </label>
		                <input id="cpf" type="text" name="cpf" placeholder="124578922" class="form-control" maxlength="11">
                                
                        <label class="control-label  margin-top-2 margin-bottom-2">Password: </label>
		                <input type="password" name="password" placeholder="************" class="form-control">
                                
                        <input type="submit" class="btn btn-default" value="Enviar" style="margin-top: 5%">
		            </form>
		 </div>
</body>
</html>

<script type="text/javascript">

	function validarCampos(){
		var campos = document.getElementsByClassName('form-control');

		for(i = 0; i < campos.length - 1; i++){
			if(campos[i].value == '' ||  campos[i].length == 0){
				alert('Por favor, preencha todos os campos!!!');
				event.preventDefault();
				return false;
			}
		}

		var element = document.getElementById('cpf');

		if(element.value.length != 11){
			alert('O CPF deve conter 11 elementos');
			element.style.cssText = 'border: 1px solid red';
			event.preventDefault();
		}

		return true;
	}
	

</script>

<style type="text/css">
	
	.img {
		margin-top: 60px;
		margin-left: 50px;
	}

	.margin-top-3 {
		margin-left: 104px;
	}

	.margin-top-2 {
		margin-top:20px;
	}

	.margin-bottom-2 {
		margin-bottom: 10px;
	}

	.padding-bottom-2 {
		padding-bottom: 20px;
	}

	.blue {
		background-color: #87CEEB;
	}

	.white {
		background-color: #FFFFFF;
	}
</style>